/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family:'Cabin', sans-serif;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* +Header */

header .title {
  background-color: rgb(38,38,38);

  color: white;

  height: 66px;
  width: 67%;
  min-width: 768px;
  padding: 22px 64px 8px 64px;
  display: inline-block;
}

.byline {
    width: 33%;
    min-width: 256px;
    height: 24px;

    background-color: white;
    color: black;

    font-size: 12px;
    line-height: 16px;

    padding: 36px 24px 36px 24px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-style: italic;
  line-height: 150%;
}

header h1 span {
  font-family: 'Cabin', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.3em;
  font-style: normal;
}

header h2 {
  font-size: 36px;
  font-weight: bold;
}

  .subhead a {
  }

  .subhead a:hover {
    color: white;
  }

  .subhead a:visited {
    color: black;
  }

header h3 {
  font-size: 12px;
}

header h3.subhead {
  margin-bottom: 120px;
}

/* -Header */

/* +Content */

.content {
  background-color: rgb(204,204,204);

  height: 992px;
  padding-top: 44px;
  clear: both;

  color: white;
}

.forms {
  margin-left: auto;
  margin-right: auto;
  width: 823.87px;
  height: 272px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll-arrow-left{
  width: 64px;
  height: 64px;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  margin-top: 88px;
  margin-left: -32px;

  background-color: black;
  opacity: .7;

  line-height: 64px;
  font-size: 48px;
  font-weight: bold;
}

.scroll-arrow-left span{
    margin-left: -4px;
}

.scroll-arrow-left a{
  text-decoration: none;
  color: white;
}

.scroll-arrow-left a:hover{
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.scroll-arrow-right{
  width: 64px;
  height: 64px;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  margin-top: 88px;
  margin-left: 792px;

  background-color: black;
  opacity: .7;

  line-height: 64px;
  font-size: 48px;
  font-weight: bold;
  text-align: right;
}

.scroll-arrow-right span{
    margin-right: -4px;
}

.scroll-arrow-right a{
  color: white;
  text-decoration: none;
}

.scroll-arrow-right a:hover{
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.form-names li {
  height: 168px;
  width: 93.339px;

  display: inline-block;
  position: relative;

  margin-right: 27px;
  padding-left: 32px;
  padding-top: 72px;
  padding-right: 60px;
  position: relative;

  font-size: 18px;
  text-align: left;

  white-space: normal;
  vertical-align: top;

  background-color: black;
  background-size: cover;


}

.form-names li .layer a{
  position: absolute;
  top: 0;
  left: 0;

  height: 168px;
  width: 93.339px;

  background: rgba(0, 0, 0, 0.65);

  font-size: 16px;
  text-decoration: none;
  color: white;

  padding-left: 32px;
  padding-top: 72px;
  padding-right: 60px;
}

.form-names li .layer a:hover{
  background: rgba(0, 0, 0, 0.45);
}

.form-names li .arrow {
    content: url(../../assets/images/arrow.png);

    height: 32px;
    width: 104px;

    margin: 169px auto 0 auto;
    position: absolute;
}

#form-1 {
  background-image: url(../../assets/images/cha-cover.png);
}
#form-2 {
  background-image: url(../../assets/images/cma-cover.png);
}
#form-3 {
  background-image: url(../../assets/images/caring-cover.png);
}
#form-4 {
  background-image: url(../../assets/images/cedars-cover.png);
}
#form-5 {
  background-image: url(../../assets/images/easy-cover.png);
}
#form-6 {
  background-image: url(../../assets/images/five-cover.png);
}
#form-7 {
  background-image: url(../../assets/images/knor-cover.png);
}
#form-8 {
  background-image: url(../../assets/images/kso-cover.png);
}
#form-9 {
  background-image: url(../../assets/images/pih-cover.png);
}
#form-10 {
  background-image: url(../../assets/images/polst-cover.png);
}
#form-11 {
  background-image: url(../../assets/images/probate-cover.png);
}
#form-12 {
  background-image: url(../../assets/images/sharp-cover.png);
}
#form-13 {
  background-image: url(../../assets/images/thinking-cover.png);
}
#form-14 {
  background-image: url(../../assets/images/ucsf-cover.png);
}

.form-names li:last-of-type {
  margin-right: 0px;
}

.info {
  width: 896px;
  padding: 32px;
  margin: 0 auto 32px auto;

  background-color: white;

  display: none;
}

.info .info-title {
    background-color: rgb(38, 38, 38);
    color: white;

    font-size: 18px;

    height: 16px;
    padding: 16px 32px 16px 32px;
    width: 824px;
    margin: auto;

    border-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: black;
}

.info .info-columns {
    width: 824px;
    padding: 32px;
    margin: auto;

    color: black;

    border-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

h5 {
  font-weight: bold;
}

.info-columns li {
    width: 272px;
    min-height: 346px;
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: top;
}

.info-content {
  margin-top: 16px;
}

.form-image {
  width: 221px;
  height: 214.721px;

  border: 1px solid black;

  padding-top: 71px;

  color: black;
  font-size: 144px;
  text-align: center;

  position: absolute;
  bottom: 0;
  left: 0;
}

#form-image-cha {
   background-image: url(../../assets/images/cha-cover.png);
   background-size: cover;
}

#form-image-cma {
  background-image: url(../../assets/images/cma-cover.png);
  background-size: cover;
}

#form-image-cc {
  background-image: url(../../assets/images/caring-cover.png);
  background-size: cover;
}

#form-image-cedars {
  background-image: url(../../assets/images/cedars-cover.png);
  background-size: cover;
}

#form-image-easy {
  background-image: url(../../assets/images/easy-cover.png);
  background-size: cover;
}

#form-image-five {
  background-image: url(../../assets/images/five-cover.png);
  background-size: cover;
}

#form-image-knor {
  background-image: url(../../assets/images/knor-cover.png);
  background-size: cover;
}

#form-image-kso {
  background-image: url(../../assets/images/kso-cover.png);
  background-size: cover;
}

#form-image-pih {
  background-image: url(../../assets/images/pih-cover.png);
  background-size: cover;
}

#form-image-polst {
  background-image: url(../../assets/images/polst-cover.png);
  background-size: cover;
}

#form-image-probate {
  background-image: url(../../assets/images/probate-cover.png);
  background-size: cover;
}

#form-image-sharp {
  background-image: url(../../assets/images/sharp-cover.png);
  background-size: cover;
}

#form-image-thinking {
  background-image: url(../../assets/images/thinking-cover.png);
  background-size: cover;
}

#form-image-ucsf{
  background-image: url(../../assets/images/ucsf-cover.png);
  background-size: cover;
}

.form-image a {
  text-decoration: none;
  color: black;
}

.form-image a:hover {
  color: rgba(0, 0, 0, 0.65);
}

.contact-info p {
  font-size: 14px;
  margin-bottom: 14px;
}

.contact-info p:last-of-type {
  margin-bottom: 0;
}

.map {
  width: 221px;
  height: 158px;
  border: 1px solid black;
  margin-top: 68px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.specs-list {
  width: 242px;
  height: 280px;

  overflow-y: scroll;
  overflow-x: hidden;

  margin: auto;
  padding: 16px;

  background-color: rgb(230, 233, 237);

  color: black;
  font-size: 14px;

  border: 1px solid black;

  position: absolute;
  bottom: 0;
}

.specs-list div {
  margin-bottom: 16px;
}

.specs-list div:last-of-type {
  margin-bottom: 0;
}

.specs-list div h5 {
  font-weight: bold;

}

/* -Content */
